node_modules
.DS_Store

/.cache
/build
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.*

yarn.lock
pnpm-lock.yaml

/docs/video/*.mp4
/docs/video/.tmp-*/

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
